<IfModule mod_rewrite.c>
RewriteEngine On

# Ensure the request is not for an existing file or directory

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all requests to index.php

RewriteRule ^(.*)$ index.php [QSA,L]

</IfModule>
