@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");


:root {
    --primary-color: #6a11cb;
    --secondary-color: #2575fc;
    --background-gradient: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    --bg:rgb(208, 206, 225);
    --text-color: #fff;
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    --border-color: #ddd;
    --button-hover:linear-gradient(135deg, var(--secondary-color), var(--primary-color));
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}